<div class="container-fluid">
    <footer>
        <div class="row">
          <div class="col-3 d-flex contact">
            <h6>Get in touch</h6>
            <p><i class="far fa-envelope"></i> : medomy1997@gmail.com</p>
            <p><i class="fas fa-mobile-alt"></i> : 01156407890</p>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-dark">Contact-me</button>
          </div>
          <div class="col-3 text-center">
            <a href="#" class="mx-1"><i class="fab fa-facebook"></i></a>
            <a href="#" class="mx-1"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="mx-1"><i class="fab fa-twitter-square"></i></a>
            <p>Copyrights©2021</p>
          </div>
        </div>
    </footer>
    
</div>
