<div class="container-fluid">
    <section class=" mt-4 mb-4">
        <div class="row">
          <div class="col-3">
            <h1>About-me</h1>
          </div>
          <div class="col-9 ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem doloribus at eaque veritatis fugiat iusto magnam et soluta, repellat nam quidem exercitationem est, beatae dicta natus obcaecati totam adipisci.</p>
            <button type="button" class="btn btn-dark">downloadd-CV</button>
          </div>
        </div>
    </section>
</div>
