
<div class="container-fluid">
  <section>
    <div class="row hero">
      <div class="col-4 mt-4 ms-3 text-center">
        <h2>Mohamed Salah</h2>
        <h5>Developer </h5>
        <button type="button" class="btn btn-dark">Contact-me</button>
      </div>
    </div>
  </section>
  <section class=" mt-4 mb-4">
    <div class="row">
      <div class="col-3">
        <h1>About-me</h1>
      </div>
      <div class="col-9 ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem doloribus at eaque veritatis fugiat iusto magnam et soluta, repellat nam quidem exercitationem est, beatae dicta natus obcaecati totam adipisci.</p>
        <button type="button" class="btn btn-dark">downloadd-CV</button>
      </div>
    </div>
  </section>
  <section class="skills">
    <div class="row">
      <div class="row  mt-4">
        <div class="text-center">
          <h2>Skills</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro consectetur rerum sit eius, maxime omnis, tempore voluptas iste est praesentium cum quae placeat natus hic, non totam blanditiis temporibus sed?</p>
        </div>
        

      </div>
      <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
          
          <ul><h4>Experience</h4>
            <li>Web development</li>
            <li>Cross-platform mobile development</li>
          </ul>
        </div>
        <div class="col-6">
          <p>HTML<ngb-progressbar type="success" [value]="75"></ngb-progressbar></p>
          <p>CSS<ngb-progressbar type="info" [value]="60"></ngb-progressbar></p>
          <p>Javascript<ngb-progressbar type="warning" [value]="80"></ngb-progressbar></p>
          <p>Angular.js<ngb-progressbar type="danger" [value]="55"></ngb-progressbar></p>
          <p>React.js<ngb-progressbar type="primary" [value]="75"></ngb-progressbar></p>
          <p>flutter<ngb-progressbar type="secondary" [value]="50"></ngb-progressbar></p>
          <p>React-native<ngb-progressbar type="dark" [value]="25"></ngb-progressbar></p>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio">
    <div class="row mt-3 mb-3">
      <h3>Portfolio</h3>
    </div>
    <div class="row mt-3 mb-3 justify-content-center">
      <div class="custom-card mx-3 mb-3 mt-3"></div>
      <div class="custom-card mx-3 mb-3 mt-3" id="dark"></div>
      <div class="custom-card mx-3 mb-3 mt-3"></div>
      <div class="custom-card mx-3 mb-3 mt-3" id="dark"></div>
      <div class="custom-card mx-3 mb-3 mt-3"></div>
      <div class="custom-card mx-3 mb-3 mt-3" id="dark"></div>

    </div>

  </section>
  <footer>
    <div class="row">
      <div class="col-3 d-flex contact">
        <h6>Get in touch</h6>
        <p><i class="far fa-envelope"></i> : medomy1997@gmail.com</p>
        <p><i class="fas fa-mobile-alt"></i> : 01156407890</p>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-dark">Contact-me</button>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="mx-1"><i class="fab fa-facebook"></i></a>
        <a href="#" class="mx-1"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="mx-1"><i class="fab fa-twitter-square"></i></a>
        <p>Copyrights©2021</p>
      </div>
    </div>
  </footer>

</div>
